.titleDiv {
  animation: slideInFromRight .5s ease-in;
  -webkit-animation: slideInFromRight .5s ease-in;
  -moz-animation: slideInFromRight .5s ease-in;
  -o-animation: slideInFromRight .5s ease-in;
  -ms-animation: slideInFromRight .5s ease-in;
}

.fadeInTitle,
.fadeInIntro,
.fadeInImage {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.fadeInTitle {
  animation-delay: .5s;
}

.fadeInImage {
  animation-delay: 1s;
}

.fadeInIntro {
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }

}

@media screen and (max-width: 768px) {
  #profile {
  width: 50%
  }
}