.titleDiv {
  animation: slideInFromRight 1s ease-in;
  -webkit-animation: slideInFromRight 1s ease-in;
  -moz-animation: slideInFromRight 1s ease-in;
  -o-animation: slideInFromRight 1s ease-in;
  -ms-animation: slideInFromRight 1s ease-in;
}

.fadeInTitle,
.fadeInIntro,
.fadeInImage {
  animation: fadeIn ease 3s;
  animation-delay: 1s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.fadeInTitle {
  animation-delay: 1s;
}

.fadeInIntro {
  animation-delay: 3s;
}

.fadeInImage {
  animation-delay: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }

}