.titleDiv {
  animation: slideInFromRight .5s ease-in;
  -webkit-animation: slideInFromRight .5s ease-in;
  -moz-animation: slideInFromRight .5s ease-in;
  -o-animation: slideInFromRight .5s ease-in;
  -ms-animation: slideInFromRight .5s ease-in;
}

.button {
  padding: 4px 16px 4px 16px;
}

.button:hover {
  background-color: rgb(92, 128, 188);
  padding: 4px 16px 4px 16px;
}

.projectSection {
  display: grid;
  padding: 1rem 2rem;
}

.icons {
  position: absolute;
  display: grid 2;
  columns: 2;
  z-index: 10;
  background-color: rgb(205, 209, 196);
  border-radius: .5rem;
  padding: 4% 6.5%;
}

.icons:hover {
  z-index: 20;
}

.img {
  position: relative;
  opacity: 1;
  transition: 0.5s ease-in-out;
  z-index: 15;
  border-radius: .5rem;
}

.img:hover {
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

#shortStack,
#weatherDashboard,
#mrMovie,
#taskScheduler,
#littlePiggy,
#passwordGenerator {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#shortStack {
  animation-delay: .75s;
}

#weatherDashboard {
  animation-delay: 1s;
}

#mrMovie {
  animation-delay: 1.25s;
}

#taskScheduler {
  animation-delay: 1.5s;
}

#littlePiggy {
  animation-delay: 1.75s;
}

#passwordGenerator {
  animation-delay: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }

}