.img {
  position: relative;
  opacity: 1;
  transition: 0.5s ease-in-out;
  z-index: 15;
}

.img:hover {
  opacity: .25;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.icons {
  position: absolute;
  display: grid 2;
  columns: 2;
  z-index: 10;
  background-color: rgb(205, 209, 196);
  padding: 63px 106px;
}

.icons:hover {
  z-index: 20;
}

.button {
  padding: 4px 16px 4px 16px;
}

.button:hover {
  background-color: rgb(92, 128, 188);
  padding: 4px 16px 4px 16px;
}