.block {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.container input {
  font-size: 1.2rem;
  margin: 10px 0 10px 0px;
  border-color: #4d5061;
  padding: 10px;
  border-radius: 5px;
  background-color: #cdd1c4;
  color: #30323d;
}

.container textarea {
  margin: 10px 0 10px 0px;
  padding: 5px;
  border-color: #4d5061;
  border-radius: 5px;
  background-color: #cdd1c4;
  font-size: 20px;
  color: #30323d;
}

.container h1 {
  text-align: center;
  font-weight: 600;
}

.name div {
  display: flex;
  flex-direction: column;
}

.block button {
  padding: 10px;
  font-size: 20px;
  width: 30%;
  border: 3px solid #cdd1c4;
  border-radius: 5px;
}

.button {
  display: flex;
  align-items: center;
}

.textarea {
  resize: none;
}