.titleDiv {
  animation: slideInFromRight .5s ease-in;
  -webkit-animation: slideInFromRight .5s ease-in;
  -moz-animation: slideInFromRight .5s ease-in;
  -o-animation: slideInFromRight .5s ease-in;
  -ms-animation: slideInFromRight .5s ease-in;
}

.backEndDiv {
  animation: slideInFromRight 1s ease;
  -webkit-animation: slideInFromRight 1s ease-in;
  -moz-animation: slideInFromRight 1s ease-in;
  -o-animation: slideInFromRight 1s ease-in;
  -ms-animation: slideInFromRight 1s ease-in;
}

.frontEndDiv {
  animation: slideInFromRight 1.5s ease;
  -webkit-animation: slideInFromRight 1.5s ease-in;
  -moz-animation: slideInFromRight 1.5s ease-in;
  -o-animation: slideInFromRight 1.5s ease-in;
  -ms-animation: slideInFromRight 1.5s ease-in;
}

.otherToolsDiv {
  animation: slideInFromRight 2s ease;
  -webkit-animation: slideInFromRight 2s ease-in;
  -moz-animation: slideInFromRight 2s ease-in;
  -o-animation: slideInFromRight 2s ease-in;
  -ms-animation: slideInFromRight 2s ease-in;
}

/* Icons */
/* SQL Icon */
.sqlAnchor:hover .sqlIcon {
  color: #00618C;
  transition: color 0.5s ease;
}

.sqlAnchor:hover .sqlText {
  color: #E68F00;
  transition: color 0.5s ease;
}

/* Firebase Icon */
.fbAnchor:hover .fbYellow {
  color: #FABF1D;
  transition: color 0.5s ease;
}

.fbAnchor:hover .fbGreen {
  color: #3CAB58;
  transition: color 0.5s ease;
}

.fbAnchor:hover .fbBlue {
  color: #4888F5;
  transition: color 0.5s ease;
}

.fbAnchor:hover .fbRed {
  color: #EB4A3D;
  transition: color 0.5s ease;
}

.fbAnchor:hover .fbGray {
  color: #8392B3;
  transition: color 0.5s ease;
}

/* Webpack Icon */
.wbAnchor:hover .wbIcon {
  color: #8ED5FA;
  transition: color 0.5s ease;
}

.wbAnchor:hover .wbText {
  color: #1B78BF;
  transition: color 0.5s ease;
}

/* Redux Icon */
.rdxAnchor:hover .rdxIcon {
  color: #764ABC;
  transition: color 0.5s ease;
}

.rdxAnchor:hover .rdxText {
  color: #303030;
  transition: color 0.5s ease;
}

/* Handlebar Icon */
.handlebarAnchor:hover .handlebarIcon {
  color: #412F1F;
  transition: color 0.5s ease;
}

.handlebarAnchor:hover .handlebarText {
  color: #FF4413;
  transition: color 0.5s ease;
}

/* Sequelize Icon */
.sequelizeAnchor:hover .sequelizeIcon {
  color: #2E3F6F;
  transition: color 0.5s ease;
}

.sequelizeAnchor:hover .sequelizeText {
  color: #51AFE7;
  transition: color 0.5s ease;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }

}